---
const { grid } = Astro.props
---
<div class="crossword-icon" role="presentation">
	{
		grid.map(row => {
			return (
				<div class="row">
				{
					row.split('').map(cell => { 
						return (
							<div class={`${cell == '#' ? 'empty tile' : 'tile'}`}/>
						)
					})
				}
				</div>
			)
		})
	}
</div>

<style>
	.crossword-icon
	{
		display: flex;
		flex-direction: column;
		gap: 2px;
		justify-self: center;
	}

	.row
	{
		display: flex;
		flex-direction: row;
		gap: 2px;
	}

	.tile
	{
		width: 5px;
		height: 5px;
		background: currentColor;
	}

	.tile.empty
	{
		background: var(--background);
	}
</style>