<button onclick="validateBoard()">
	Check answer
</button>
<dialog id="dialog">
	<p>Correct! Nice work.</p>
	<video autoplay muted loop class="trophy" src="/trophy.mp4"/>
	<form method="dialog">
		<button>Close</button>
	</form>
</dialog>

<script is:inline>
	function validateBoard() {
		const inputs = document.querySelectorAll('#game .board input:not([disabled])')
		let isCorrect = true

		inputs.forEach(input => {
			if (input.value.toUpperCase() != input.dataset.answer.toUpperCase()) {
				isCorrect = false
				input.classList.add('incorrect')
			}
		})

		if (isCorrect) {
			window.dialog.showModal()
		}
	}
</script>

<style>
	button
	{
		color: var(--foreground);
		background: var(--background);
		border: 2px solid var(--foreground);
		border-radius: 2px;
		outline: none;
		box-shadow: none;
		cursor: pointer;

		font-family: var(--tekst-mono);
		font-size: 0.8rem;
		text-transform: uppercase;
		letter-spacing: 0.04em;

		margin: 30px 0 0 0;
	
		&:active
		{
			background: var(--semi-trans);
		}
	}

	dialog
	{
		background: var(--background);
		color: var(--foreground);
		border: 2px solid var(--semi-trans);
		text-align: center;

		width: 80%;
		max-width: 500px;
		transform: translateY(-60px);
		animation: fadein 0.3s ease, bouncein 0.3s cubic-bezier(.33,1.3,.8,1.18);

		&::backdrop
		{
			background: rgba(0, 0, 0, 0.6);
			animation: fadein 0.2s ease;
		}

		& p
		{
			font-size: 2rem;
			text-align: center;
			margin: 0;
			margin-bottom: 30px;
		}

		& button
		{
			font-size: 1rem;
			width: 100%;
			max-width: 300px;
			text-align: center;

			background: var(--foreground);
			color: var(--background);
		}
	}

	video.trophy
	{
		mix-blend-mode: color-dodge;
		width: 100px;
		animation: fadein 2s ease, scalein 2s ease;
	}

	@media (max-width: 500px)
	{
		button
		{
			font-size: 1rem;
			line-height: 2;
			padding: 0 2ch;
		}

		dialog button
		{
			font-size: 1.4rem;
			padding: 0;
		}
	}

	@media (max-height: 500px)
	{
		button
		{
			display: none;
		}

		dialog button
		{
			display: block;
		}
	}

	@keyframes fadein
	{
		from { opacity: 0; }
		to { opacity: 1; }
	}
	
	@keyframes bouncein
	{
		from { transform: scale(0.8) translateY(-60px); }
		to { transform: scale(1) translateY(-60px); }
	}

	@keyframes scalein
	{
		from { transform: scale(0.6); }
		to { transform: scale(1); }
	}
</style>