---
import Metadata from './Metadata.astro'
import GlobalStyle from './GlobalStyle.astro'
import Logo from './Logo.astro'
import Footer from './Footer.astro'
---
<!DOCTYPE html>
<html>
	<head>
		<Metadata/>
		<slot name="head"/>
		<GlobalStyle/>
	</head>
	<body>
		<header>
			<Logo/>
		</header>
		<main>
			<slot/>
		</main>
		<Footer/>
	</body>
</html>

<style>
	body
	{
		margin: 0 auto;
		padding: 30px 60px;
	}

	header
	{
		margin-bottom: 120px;
	}
</style>