---
import Metadata from './Metadata.astro'
import GlobalStyle from './GlobalStyle.astro'
import Logo from './Logo.astro'
import Footer from './Footer.astro'
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<Metadata/>
		<slot name="head"/>
		<GlobalStyle/>
	</head>
	<body>
		<header>
			<Logo/>
		</header>
		<main>
			<slot/>
		</main>
		<Footer/>
	</body>
</html>

<style>
	body
	{
		margin: 0 auto;
		padding: 30px 60px;
	}

	header
	{
		margin-bottom: 120px;
	}

	@media (max-width: 500px)
	{
		body
		{
			padding: 10px;
		}

		header
		{
			margin-bottom: 60px;
			text-align: center;
		}
	}

	@media (max-height: 500px)
	{
		header
		{
			display: none;
		}

		body
		{
			padding-top: 60px;
		}
	}
</style>