---
import Metadata from './Metadata.astro'
import GlobalStyle from './GlobalStyle.astro'
import Logo from './Logo.astro'
import Footer from './Footer.astro'
---
<!DOCTYPE html>
<html>
	<head>
		<Metadata/>
		<slot name="header"/>
		<GlobalStyle/>
	</head>
	<body>
		<header>
			<Logo/>
		</header>
		<main>
			<slot/>
		</main>
		<Footer/>
	</body>
</html>