<footer>
	<p>&copy; <a href="https://guinane.xyz">Jack Guinane</a></p>
</footer>

<style>
	footer
	{
		color: var(--semi-trans);
	}
	
	p
	{
		margin: 0;
	}
	
	a
	{
		text-decoration: none;
		color: inherit;

		&:hover
		{
			color: var(--foreground);
		}
	}
</style>