<p>hi</p>
<style>
	:root
	{
		--black: #2e2928;
		--white: #dbd3be;
		--yellow: #f3ae4b;
		--blue: #2a878b;

		--background: var(--black);
		--foreground: var(--white);
	}

	html, body
	{
		background: var(--background);
		color: var(--foreground);
		margin: 0;
	}
</style>